[user]
	email = edgar.figueroa.gtz@gmail.com
	user = EddCode
	name = Edgar Figueroa
[alias]
	co = checkout
	ci = commit
	st = status
	unstage = reset HEAD --
	br = branch
	last = log -1 HEAD
	po = push origin
	alias = config --global --get-regex alias
	lod = log --oneline --decorate
	lodg = log --oneline --decorate --graph
	logline = log  --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
